---
Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -1
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: true
AlignOperands: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
ColumnLimit: 120
DerivePointerAlignment: false
IndentCaseLabels: true
IndentWidth: 2
PointerAlignment: Right
ReflowComments: true
SpaceBeforeInheritanceColon: true
Standard: c++17
TabWidth: 2
UseTab: Never
